{% extends "base.html" %}

{% load i18n %}
{% block title %}Sign Out{% endblock %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<body class="with-background">
    <div class="container white shadow-lg">
        <div class="py-5">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <h3>{% trans "Sign Out" %}</h3>

                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">

                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn bg-success btn-lg mt-3" type="submit">{% trans 'Sign Out' %}</button>
                        <a class="btn bg-danger mt-3 btn-lg" href="{% url 'recipes' %}" aria-label="cancel logout">
                            Cancel
                        </a>
                        

                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- fancy main logo and slogan of the site as decoration -->
    <div class="container user-select-none">
        <div class="row justify-content-center overflow-hidden">
            <div class="col-12 col-md-10 col-lg-6 offset-lg-1 my-5 centered overflow-hidden">
                <div class="hidden relative-title-1 bold">
                    <p>Steezy</p>
                    <div class="relative-title-2 bold">
                        <p>Spatula</p>
                        <div class="relative-title-3">
                            <p>Cooking made less overwhelming</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}