@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');


body{
    padding-top: 55px;
    background: #e0ded9;
    height: 100%;
}

textarea {
    resize: none;
}

hr {
    border: 1px solid #FF5733;
    border-radius: 5px;
}

.btn {
    background: #FF5733;
    color: #ffffff;
}

.btn a {
    color: #ffffff;
}

.btn:hover {
    background: #000000;
    color: #ffffff;
}

.pagination a {
    background-color: #FF5733;
    color: #ffffff;
}

.pagination a:hover {
    background: #000000;
    color: #ffffff;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #FF5733;
    color: #FF5733;
}

.transparent {
    background-color: transparent;
}

.transparent:hover {
    color:#FF5733;
    background-color: transparent;
}

.big {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.header {
    background-image: linear-gradient(to top, rgba(45, 255, 21, 0) 0%, rgb(19, 22, 24)60%),
    url('../images/header.jpg'); 
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color:#FF5733;
}

a:hover {
    color:#000000;
}

.a-reverse {
    text-decoration: none;
    color:#000000;
}

.a-reverse:hover {
    color:#FF5733;
}

.elara {
    background: #FF5733;
}

.child {
    height: 50%;
}

.white {
    background: rgb(255, 255, 255);
}

.green-text {
    /* color:#006e05; */
    color: #FF5733;

}

.hidden {
    color:#bbbbbb;
}

.fa-lg {
    font-size: 2rem;
}


.relative-title-1 {
    top: 35%;
    left: -30px;
    position: relative;
}

.relative-title-2 {
    position: relative;
    left: 50px;
    top: -60px;
}

.relative-title-3 {
    position: relative;
    left: 105px;
    top: -50px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: none;
}


.bold {
    font-weight: bold;
    font-size: 4rem;
}

.dedication {
    position: relative;
    right: 0;
    top: 25%;
    font-weight: 200;
    font-size: 1.25rem;
    display: none;
}

.solid {
    border-style: solid;
    border-color: red;
}

.absolute {
    position: absolute;
}

.cursive {
    font-family: 'Seaweed Script', cursive;
    font-size: 3rem;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.circle img {
    object-fit: cover;
    background-size: cover;
}


.about-me {
    border-radius:50%;
    width:200px;
    height:200px;
    object-fit: cover;
    background-size: cover;
}

.recipe-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.recipe-display {
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.display-recipe-name {
    position: absolute;
    bottom: 38px;
    left: 5px;
}
/* Recipe detail page */

.header-title {
    font-family: 'Seaweed Script', cursive;
    font-size: 4rem;
}


/* media queries */

@media (max-width:575px) {
    .centered {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bold{
        font-size: 7rem;
    }

    .relative-title-1 {
        top: 20%;
        left: 0%;
        position: relative;
    }
    
    .relative-title-2 {
        position: relative;
        left: 65px;
        top: -95px;
    }
    
    .relative-title-3 {
        position: relative;
        left: 98px;
        top: -58px;
        font-size: 1.1rem;
        letter-spacing: 1px;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bold{
        font-size: 8rem;
    }

    .relative-title-1 {
        top: 20%;
        left: 10%;
        position: relative;
    }
    
    .relative-title-2 {
        position: relative;
        left: 75px;
        top: -105px;
    }
    
    .relative-title-3 {
        position: relative;
        left: 115px;
        top: -65px;
        font-size: 1.3rem;
        letter-spacing: 1px;
        display: block;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .bold {
        font-size: 6rem;
    }

    .relative-title-1 {
        top: 25%;
        left: 0%;
        position: relative;
    }

    .relative-title-2 {
        top: -85px;
        left: 58px;
    }

    .relative-title-3 {
        top: -52px;
        left: 84px;
        display: block;
        font-weight: 300;
        position: relative;
        font-size: 0.90rem;
    }
    
    .dedication {
        display: block;
        top: 35%;
    }

    .about-me {
        width:300px;
        height:300px;
    }
}

@media (min-width: 1200px) {
    .bold{
        font-size: 7rem;
    }

    .dedication {
        display: block;
        top: 30%;
    }

    .relative-title-1 {
        top: 15%;
        left: 10%;
        position: relative;
    }
    
    .relative-title-2 {
        position: relative;
        left: 65px;
        top: -95px;
    }
    
    .relative-title-3 {
        top: -58px;
        left: 98px;
        display: block;

        position: relative;
        font-size: 1.1rem;
    }
}


