{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container user-select-none">
    <div class="row justify-content-center overflow-hidden">
        <div class="col-12 col-md-10 col-lg-6 offset-lg-1 my-5 centered overflow-hidden">
            <div class="hidden relative-title-1 bold">
                <p>error</p>
                <div class="relative-title-2 bold">
                    <p>403</p>
                    <div class="error-title">
                        <p>unathorized</p>
                    </div>
                </div>
            </div>
            <div class="hidden">
                <h3>You are not authorized to access this page</h3>
            </div>
            <a href="{% url 'recipes' %}">
                <button type="submit" class="btn elara mt-2">Go back</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}