{% extends "home.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        <!-- For later -->
        {% if posted %}
        <div class="alert alert-success" role="alert">
            Your recipe is awaiting approval
        </div>
        {% else %}
        {% if user.is_authenticated %}

        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>

{%endblock%}