{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="with-background">
    <div class="container white shadow-lg">
        <div class="py-5">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <h1>Delete {{ recipe.recipe_name }}</h1>
                    <form method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"</p>
                        <button class="btn btn-lg bg-success mt-2" value="Delete" type="submit"
                            aria-label="confirm delete">
                            Delete
                        </button>
                        <a class="btn btn-lg bg-danger mt-2" href="{% url 'recipes' %}"
                            aria-label="Cancel delete">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fancy main logo and slogan of the site as decoration -->
    <div class="container user-select-none">
        <div class="row justify-content-center overflow-hidden">
            <div class="col-12 col-md-10 col-lg-6 offset-lg-1 my-5 centered overflow-hidden">
                <div class="hidden relative-title-1 bold">
                    <p>Steezy</p>
                    <div class="relative-title-2 bold">
                        <p>Spatula</p>
                        <div class="relative-title-3">
                            <p>Cooking made less overwhelming</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}