{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Header section -->
<header class="text-white header">
    <div class="container user-select-none">
        <div class="row">
            <div class="col-12 col-lg-6 my-5 centered overflow-hidden">
                
                <!-- website logo and slogan -->
                <div class="relative-title-1 bold">
                    <p>
                        Steezy
                    </p>
                    <div class="relative-title-2 bold">
                        <p>
                            Spatula
                        </p>
                        <div class="relative-title-3">
                            <p>
                                Cooking made less overwhelming
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-sm-none d-lg-block col-lg-6 my-5 overflow-hidden">
                <div class="dedication">

                    <!-- website explanation -->
                    <p>
                        This website is for <strong>You,</strong>
                    </p>
                    <ul>
                        <li>
                            If you find it difficult to follow complicated recipes
                        </li>
                        <li>
                            you're mental well-being interferes with your executive functioning
                        </li>
                        <li>
                            looking at unnecessary walls of text annoys you
                        </li>
                    </ul>

                    <!-- call to action button dependig on the user is logged in  -->
                    {% if user.is_authenticated %}
                    <a class="d-none" href="{% url 'account_signup' %}">
                        <button type="submit" class="btn elara mt-2">Register</button>
                    </a>
                    {% else %}
                    <a href="{% url 'account_signup' %}">
                        <button type="submit" class="btn elara mt-2">Register</button>
                    </a>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

<!-- Content section / a word on the website-->

<section>
    <div class="container white shadow-lg mt-5 px-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-xl-4 text-center">
                <div class="p-5"><img class="img-fluid about-me" src="https://res.cloudinary.com/dtkzblbmn/image/upload/v1681752081/static/images/me.cb9dd8d0d679.jpg" alt="..." /></div>
            </div>
            <div class="col-12 col-lg-6 col-xl-8 order-sm-2">
                <div class="p-5">
                    <p class="display-3">A word on this website...</p>
                    <p>
                        My name is Gabor, and I have ADHD.
                        I created this website as a project to help people
                        who have depression, impaired executive functioning
                        or generally have a hard time dealing
                        with cooking and being in the kitchen
                        just makes them feel overwhelmed.
                    </p>
                    <p>
                        I think the main theme captures a real-world problem
                        and it has a targeted audience who could
                        really benefit from a website like this.
                        I really enjoyed making and designing this
                        project with the intention of creating a tool
                        I would use.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}