{% extends "base.html" %}

{% block content %}

<div class="recipe-display solid">
    <img class="recipe-img" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="">
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{%endblock%}