{% extends "home.html" %}

{% block content %}
<header class="text-white header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 my-5 centered overflow-hidden">
                <div class="relative-title-1 bold">
                    <p>Steezy</p>
                    <div class="relative-title-2 bold">
                        <p>Spatula</p>
                        <div class="relative-title-3">
                            <p>Cooking made less overwhelming</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-sm-none d-lg-block col-lg-6 my-5 overflow-hidden">
                <div class="dedication">
                    <p class="">This website is for <strong>You,</strong></p>
                    <ul>
                        <li>If you find it difficult to follow complicated recipes</li>
                        <li>you're mental well-being interferes with your executive functioning</li>
                        <li>looking at unnecessary walls of text annoys you</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-6">Details</div>
            <div class="col-6">Ingredients</div>
        </div>
        <div class="row">
            <div class="col-12">Method</div>
        </div>
    </div>

</section>
{%endblock%}