{% extends "home.html" %}

{% block content %}

<div class="text-white form-group header py-5">
    <!-- <form class="form" method="GET" action="{% url 'recipes' %}">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> -->
    <div class="form-group">
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</div>



<div class="container white shadow-lg">

    <div class="row">
        {% for recipe in recipes %}

        <div class="col-12 col-sm-4 p-5 d-flex align-items-stretch">

            <div class="card rounded-0 border border-0 shadow-lg mx-auto">
                
                <img class="card-img-top rounded-0"
                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="Card image cap">
                    
                    
                <div class="card-body">
                    <a class="stretched-link"
                        href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.recipe_name }}</a>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item"><i class="fa-regular fa-face-smile"></i>
                            {{ recipe.get_difficulty_display }}</li>
                        <li class="list-group-item"><i class="fa-regular fa-clock"></i>
                            {{ recipe.get_cooking_time_display}}</li>
                    </ul>



                </div>


            </div>
        </div>
        {% endfor %}
    </div>


</div>




{% if is_paginated %}
<br>
<div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{%endblock%}