{% extends "home.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container white shadow-lg p-5">
    <div class="row">
        <div class="col-12">

                <div>
                    {% if posted %}
                    <div class="alert alert-success" role="alert">
                        Your recipe is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
            
                    <h1>
                        <b class="user">
                        {{ user.username }}'s 
                        </b>
                        super-duper new recipe</h1>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup elara mt-3 btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>

        </div>
            

    </div>
</div>





{%endblock%}

