{% extends "home.html" %}

{% block content %}



<div class="container p-5">
    <div>
        <button>
            <a href="{% url 'create_recipe' %}">+</a>
        </button>
    </div>
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-12 col-sm-4 my-5">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">{{ recipe.recipe_name }}</a>
                    {% if user == recipe.author %}
                    <a href="{% url 'update_recipe' recipe.slug %}">edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% if is_paginated %}
<br>
<div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{%endblock%}